<div class="container mt-5">
  <div class="form-area">
    <form #f='ngForm' (ngSubmit)="onSubmit(f)">
      <div class="form-group">
        <label>First name</label>
        <input type="text" placeholder="first name" class="form-control is-invalid" name="fullName" ngModel
          #fullName="ngModel" (change)="getValue(fullName)" required
          [ngClass]="{ 'is-invalid': fullName.touched && fullName.invalid }" minlength="5" maxlength="10">
      </div>

      <div *ngIf="fullName?.errors?.['required']">
        <div class="alert alert-danger" *ngIf="fullName.touched && fullName.invalid">Full name is required</div>
      </div>

      <div *ngIf="fullName?.errors?.['minlength']">
        <div class="alert alert-danger" *ngIf="fullName.touched && fullName.invalid">Full name must be at least 5
          character long</div>
      </div>

      <div class="form-group">
        <label>Email</label>
        <input type="email" placeholder="email" class="form-control is-invalid" name="email" ngModel #email="ngModel" pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$" required
        [ngClass]="{ 'is-invalid': email.touched && email.invalid }">
      </div>

      <div *ngIf="email?.errors?.['required']">
        <div class="alert alert-danger" *ngIf="email.touched && email.invalid">Email is required</div>
      </div>

      <div *ngIf="email?.errors?.['pattern']">
        <div class="alert alert-danger" *ngIf="email.touched && email.invalid">Email pattern is not valid</div>
      </div>

      <div class="form-group">
        <label>Address</label>
        <textarea cols="30" rows="10" placeholder="address" class="form-control is-invalid" name="address" ngModel #address="ngModel" required
          [ngClass]="{ 'is-invalid': address.touched && address.invalid }"></textarea>
      </div>

      <div *ngIf="address?.errors?.['required']">
        <div class="alert alert-danger" *ngIf="address.touched && address.invalid">Address is required</div>
      </div>

      <button type="submit" class="btn btn-primary" [disabled]="f.invalid">submit</button>
    </form>
  </div>
</div>